extends layout

block content
    .site-wrapper
        .site-wrapper-inner
            .cover-container
                .masthead.clearfix
                    .inner
                        h3.masthead-brand
                            span(style='margin-right:5px;').glyphicon.glyphicon-refresh
                            = title

                .inner.cover
                    h1.cover-heading Emiter
                        small(style='margin-left:10px;') Currently connected:
                            span(style='margin-left:7px;')#currConnectedCnt= currConnectedCnt
                        if lastMessage
                            div(style='margin-top:15px;')#lastMessageContainer
                                p.lead
                                    strong Last message:
                                p.lead
                                    h2.bg-primary#lastMessage
                                        != lastMessage
                        else
                            #lastMessageContainer.hide
                                p.lead
                                    strong Last message:
                                p.lead
                                    h2.bg-primary#lastMessage

                        hr
                        p.lead Send message with name of your team and what time you will start demo.
                        p.lead
                            form(action='#', method='POST')#sendMsgForm
                                .form-group
                                    label(for='msg').sr-only Message content
                                    //textarea(name='msg', placeholder='Type message...', required).form-control#msg
                                    input(type='text' name='msg', placeholder='Type message...', required).form-control#msg
                                button(type='submit').btn.btn-lg.btn-primary Send Message
                                    span(style='margin-left:7px;').glyphicon.glyphicon-send
                        hr
                        p.lead
                            form(action='#', method='POST')#sendGongForm.hide
                                button(type='submit').btn.btn-lg.btn-success Make them hear you!
                                    span(style='margin-left:7px;').glyphicon.glyphicon-bell

                        p.lead Send information about demo status
                            .container-fluid
                                .row
                                    .col-md-6
                                        label(for='selected_team_id') Select Team:
                                    .col-md-6
                                        select(id='selected_team_id', name='selected_team_id')
                                .row
                                    .col-md-6
                                        form(action='#', method='POST')#startDemoForm
                                            button(type='submit').btn.btn-lg.btn-danger We're starting! Hurry up! 
                                                span(style='margin-left:7px;').glyphicon.glyphicon-time
                                    .col-md-6
                                        form(action='#', method='POST')#endDemoForm
                                            button(type='submit').btn.btn-lg.btn-success We have done.
                                                span(style='margin-left:7px;').glyphicon.glyphicon-thumbs-up

                .mastfoot
                    .inner
                        p.text-info miniq & ropsiU

block scripts
    script.
        var teamList = !{JSON.stringify(teamList)};
        $(function(){
            alert(teamList);
            $.each(teamList, function(key,item) {
                var option,
                    select = $('#selected_team_id');
                if(item.hasOwnProperty('name')) {
                    option = new Option(item.name, item.name, false, false);
                    select.append(option);
                }
            });
        });
    script(type='text/javascript', src='/js/jang.js')