extends layout

block content
    .site-wrapper
        .site-wrapper-inner
            .cover-container
                .masthead.clearfix
                    .inner
                        h3.masthead-brand
                            span(style='margin-right:5px;').glyphicon.glyphicon-refresh
                            = title

                .inner.cover
                    h2 Recently received messages:
                    ul.list-unstyled.hide#msgList

                .mastfoot
                    .inner
                        p.text-info miniq & ropsiU & bąku

block scripts
    audio(src='fx/yoshi.mp3' preload='auto')#yoshiSound
    audio(src='fx/jigsaw.mp3' preload='auto')#jigsawSound
    audio(src='fx/hurry_up.mp3' preload='auto')#hurryUpSound
    audio(src='fx/stage_clear.mp3' preload='auto')#stageClearSound

    script(type='text/javascript').
        var messages = !{JSON.stringify(messages)};
        var messagesListLength = #{messagesListLength};
    script(type='text/javascript', src='/js/jing.js')