doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/lib/bootstrap/dist/css/bootstrap.min.css')
        link(rel='stylesheet', href='/css/style.css')

    body
        block content
        script(type='text/javascript', src='/lib/jquery/dist/jquery.min.js')
        script(type='text/javascript', src='/lib/bootstrap/dist/js/bootstrap.min.js')
        script(type='text/javascript', src='/lib/socket.io-client/dist/socket.io.min.js')
        script(type='text/javascript', src='/js/scripts.js')
        block scripts